<!-- BRANKÁŘ -->

<div class="position-title">

    🧤 Brankář

</div>

<div class="player-row">

    <div class="player-left">

        {{ home_lineup.goalkeeper[0].name }}

    </div>

    <div class="player-right">

        {{ away_lineup.goalkeeper[0].name }}

    </div>

</div>

<hr>


<!-- OBRÁNCI -->

<div class="position-title">

    🛡 Obránci

</div>

{% set max_def = [home_lineup.defenders|length, away_lineup.defenders|length] | max %}

{% for i in range(max_def) %}

<div class="player-row">

    <div class="player-left">

        {% if i < home_lineup.defenders|length %}
            {{ home_lineup.defenders[i].name }}
        {% endif %}

    </div>

    <div class="player-right">

        {% if i < away_lineup.defenders|length %}
            {{ away_lineup.defenders[i].name }}
        {% endif %}

    </div>

</div>

{% endfor %}

<hr>


<!-- ZÁLOŽNÍCI -->

<div class="position-title">

    ⚙ Záložníci

</div>

{% set max_mid = [home_lineup.midfielders|length, away_lineup.midfielders|length] | max %}

{% for i in range(max_mid) %}

<div class="player-row">

    <div class="player-left">

        {% if i < home_lineup.midfielders|length %}
            {{ home_lineup.midfielders[i].name }}
        {% endif %}

    </div>

    <div class="player-right">

        {% if i < away_lineup.midfielders|length %}
            {{ away_lineup.midfielders[i].name }}
        {% endif %}

    </div>

</div>

{% endfor %}

<hr>


<!-- ÚTOČNÍCI -->

<div class="position-title">

    🎯 Útočníci

</div>

{% set max_att = [home_lineup.forwards|length, away_lineup.forwards|length] | max %}

{% for i in range(max_att) %}

<div class="player-row">

    <div class="player-left">

        {% if i < home_lineup.forwards|length %}
            {{ home_lineup.forwards[i].name }}
        {% endif %}

    </div>

    <div class="player-right">

        {% if i < away_lineup.forwards|length %}
            {{ away_lineup.forwards[i].name }}
        {% endif %}

    </div>

</div>

{% endfor %}