{% extends "base.html" %}

{% block extra_css %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/match.css') }}"
>
{% endblock %}

{% block content %}

<div class="container">

    <a
        href="{{ url_for('index') }}"
        class="btn btn-outline-light mb-4"
    >
        ← Zpět
    </a>

    <div class="card shadow-lg border-0 mb-4">

        <div class="card-body text-center py-4">

            <div class="text-uppercase text-secondary fw-bold mb-4">

                ⚽ MATCH PREVIEW

            </div>

            <div class="text-uppercase text-secondary fw-bold mb-4">

                {{ round_number }}. KOLO

            </div>

            <div class="row align-items-center text-center">

                <!-- DOMÁCÍ -->

                <div class="col-5">

                    <h3 class="match-team-name fw-bold mb-2 text-truncate">

                        {{ home }}

                    </h3>

                </div>

                <!-- VS -->

                <div class="col-2">

                    <h2 class="fw-bold">

                        VS

                    </h2>

                </div>

                <!-- HOSTÉ -->

                <div class="col-5">

                    <h3 class="match-team-name fw-bold mb-2 text-truncate">

                        {{ away }}

                    </h3>

                </div>

            </div>

        </div>

    </div>

    <div class="card mb-4 shadow-sm">

        <div class="card-header fw-bold">

            📋 Základní sestavy

        </div>

        <div class="card-body">

            {% include "partials/_preview_lineups.html" %}

        </div>

    </div>

    <div class="card mb-5 shadow-sm">

        <div class="card-header fw-bold">

            🪑 Lavička

        </div>

        <div class="card-body">

            {% include "partials/_preview_bench.html" %}

        </div>

    </div>

</div>

{% endblock %}